interactions:
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/plans?limit=100&created%5Bgt%5D=1698796800&expand%5B%5D=data.tiers
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-oTVh", "data": [{"id": "price_1OIeZALKAgyp1fW97ywKvx1S",
        "object": "-Fallback-scrubbed-asZy", "active": true, "aggregate_usage": null,
        "amount": 7902, "amount_decimal": "3402", "billing_scheme": "-Fallback-scrubbed-YXCZELdD",
        "created": 1701467288, "currency": "-Fallback-scrubbed-qSy", "interval": "-Fallback-scrubbed-WheEJ",
        "interval_count": 8002, "livemode": false, "metadata": {}, "meter": null,
        "nickname": null, "product": "-Fallback-scrubbed-PpSabdRtYBjlUVEdVmR", "tiers_mode":
        null, "transform_usage": null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-bUMdajyQ"},
        {"id": "price_1OIeZ0LKAgyp1fW9Wp9jXs87", "object": "-Fallback-scrubbed-asZy",
        "active": true, "aggregate_usage": null, "amount": 4855, "amount_decimal":
        "5638", "billing_scheme": "-Fallback-scrubbed-YXCZELdD", "created": 1701467278,
        "currency": "-Fallback-scrubbed-qSy", "interval": "-Fallback-scrubbed-WheEJ",
        "interval_count": 8002, "livemode": false, "metadata": {}, "meter": null,
        "nickname": null, "product": "-Fallback-scrubbed-iLGsyyFzWdNSkESbnrC", "tiers_mode":
        null, "transform_usage": null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-bUMdajyQ"},
        {"id": "price_1OIeYoLKAgyp1fW9fzAVvAiP", "object": "-Fallback-scrubbed-asZy",
        "active": true, "aggregate_usage": null, "amount": 7828, "amount_decimal":
        "7287", "billing_scheme": "-Fallback-scrubbed-YXCZELdD", "created": 1701467266,
        "currency": "-Fallback-scrubbed-qSy", "interval": "-Fallback-scrubbed-WheEJ",
        "interval_count": 8002, "livemode": false, "metadata": {}, "meter": null,
        "nickname": null, "product": "-Fallback-scrubbed-nSXzvojLLYjqInNXyGd", "tiers_mode":
        null, "transform_usage": null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-bUMdajyQ"}],
        "has_more": false, "url": "/v1/plans"}'
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2022-11-15). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2022-11-15'
      X-Wc:
      - 3c3
    status:
      code: 200
      message: OK
version: 1
