interactions:
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/subscriptions?limit=100&created%5Bgt%5D=1748736000&status=all
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-lFsW", "data": [{"id": "sub_1Tf3kQLKAgyp1fW9wfaRrEem",
        "object": "-Fallback-scrubbed-pWZmsfRQDdeE", "application": null, "application_fee_percent":
        null, "automatic_tax": {"disabled_reason": null, "enabled": false, "liability":
        null}, "billing_cycle_anchor": 5289, "billing_cycle_anchor_config": null,
        "billing_mode": {"flexible": {"proration_discounts": "-Fallback-scrubbed-vSUtsjmv"},
        "type": "-Fallback-scrubbed-IhlUPQGX", "updated_at": 5289}, "billing_thresholds":
        null, "cancel_at": null, "cancel_at_period_end": false, "canceled_at": null,
        "cancellation_details": {"comment": null, "feedback": null, "feedback_option":
        null, "reason": null}, "collection_method": "-Fallback-scrubbed-mqBcWLVwZgcZmagXAEpT",
        "created": 1780688982, "currency": "-Fallback-scrubbed-jHA", "current_period_end":
        5162, "current_period_start": 6281, "customer": "-Fallback-scrubbed-cCawgypBHPUqPGOszR",
        "customer_account": null, "days_until_due": null, "default_payment_method":
        null, "default_source": "-Fallback-scrubbed-SugwXsnMaJmVHidRnWTGdWSJdNaxN",
        "default_tax_rates": [], "description": null, "discount": null, "discounts":
        [], "ended_at": null, "invoice_settings": {"account_tax_ids": null, "custom_fields":
        null, "description": null, "footer": null, "issuer": {"type": "-Fallback-scrubbed-iQCg"}},
        "items": {"object": "-Fallback-scrubbed-lFsW", "data": [{"id": "si_UeMTiuUxl3Mv0X",
        "object": "-Fallback-scrubbed-hgqZIuwTtOVXvNCpy", "billing_thresholds": null,
        "created": 1780688982, "current_period_end": 5162, "current_period_start":
        6281, "discounts": [], "metadata": {}, "plan": {"id": "price_1OIeZ0LKAgyp1fW9Wp9jXs87",
        "object": "-Fallback-scrubbed-IULJ", "active": true, "aggregate_usage": null,
        "amount": 2623, "amount_decimal": "7587", "billing_scheme": "-Fallback-scrubbed-ViHPFzFX",
        "created": 1701467278, "currency": "-Fallback-scrubbed-jHA", "interval": "-Fallback-scrubbed-OTRBI",
        "interval_count": 58, "livemode": false, "metadata": {}, "meter": null, "nickname":
        null, "product": "-Fallback-scrubbed-CGewDHmleePmEVkOoIm", "tiers_mode": null,
        "transform_usage": null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-aPURBjVL"},
        "price": {"id": "price_1OIeZ0LKAgyp1fW9Wp9jXs87", "object": "-Fallback-scrubbed-UQvJJ",
        "active": true, "billing_scheme": "-Fallback-scrubbed-ViHPFzFX", "created":
        1701467278, "currency": "-Fallback-scrubbed-jHA", "custom_unit_amount": null,
        "livemode": false, "lookup_key": null, "metadata": {}, "nickname": null, "product":
        "-Fallback-scrubbed-CGewDHmleePmEVkOoIm", "recurring": {"aggregate_usage":
        null, "interval": "-Fallback-scrubbed-OTRBI", "interval_count": 58, "meter":
        null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-aPURBjVL"},
        "tax_behavior": "-Fallback-scrubbed-iIdWJjOTnyB", "tiers_mode": null, "transform_quantity":
        null, "type": "-Fallback-scrubbed-vyieBuYlq", "unit_amount": 2623, "unit_amount_decimal":
        "7587"}, "quantity": 58, "subscription": "-Fallback-scrubbed-qhEarykgPiXlQBYGEYBSWlNwbJBC",
        "tax_rates": []}], "has_more": false, "total_count": 58, "url": "/v1/subscription_items?subscription=sub_1Tf3kQLKAgyp1fW9wfaRrEem"},
        "latest_invoice": "-Fallback-scrubbed-omNvShzVjXTBmjwalZzFmEcrRjm", "livemode":
        false, "managed_payments": {"enabled": false}, "metadata": {}, "next_pending_invoice_item_invoice":
        null, "on_behalf_of": null, "pause_collection": null, "payment_settings":
        {"payment_method_options": null, "payment_method_types": null, "save_default_payment_method":
        "-Fallback-scrubbed-QkY"}, "pending_invoice_item_interval": null, "pending_setup_intent":
        null, "pending_update": null, "plan": {"id": "price_1OIeZ0LKAgyp1fW9Wp9jXs87",
        "object": "-Fallback-scrubbed-IULJ", "active": true, "aggregate_usage": null,
        "amount": 2623, "amount_decimal": "7587", "billing_scheme": "-Fallback-scrubbed-ViHPFzFX",
        "created": 1701467278, "currency": "-Fallback-scrubbed-jHA", "interval": "-Fallback-scrubbed-OTRBI",
        "interval_count": 58, "livemode": false, "metadata": {}, "meter": null, "nickname":
        null, "product": "-Fallback-scrubbed-CGewDHmleePmEVkOoIm", "tiers_mode": null,
        "transform_usage": null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-aPURBjVL"},
        "quantity": 58, "schedule": null, "start_date": 5289, "status": "-Fallback-scrubbed-lGzZzq",
        "test_clock": null, "transfer_data": null, "trial_end": null, "trial_settings":
        {"end_behavior": {"missing_payment_method": "-Fallback-scrubbed-cGHSGdqSbeXBcy"}},
        "trial_start": null}], "has_more": false, "url": "/v1/subscriptions"}'
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2022-11-15). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2022-11-15'
      X-Wc:
      - 3c3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/subscription_items?limit=100&subscription=sub_1Tf3kQLKAgyp1fW9wfaRrEem
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-lFsW", "data": [{"id": "si_UeMTiuUxl3Mv0X",
        "object": "-Fallback-scrubbed-hgqZIuwTtOVXvNCpy", "billing_thresholds": null,
        "created": 1780688982, "current_period_end": 5162, "current_period_start":
        6281, "[...]
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/subscription_items/si_UeMTiuUxl3Mv0X/usage_record_summaries?limit=100
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-lFsW", "data": [{"id": "sis_1U98rqLKAgyp1fW9oR2GiUcK",
        "object": "-Fallback-scrubbed-cohLBVMzJlJFkRtLScYy", "invoice": null, "livemode":
        false, "period": {"end": null, "start": 6281}, "subscription_item": "-Fallback-scrubbed-PIHfSagnycjaJFMnt",
        "total_usage": 58}], "has_more": false, "url": "/v1/subscription_items/si_UeMTiuUxl3Mv0X/usage_record_summaries"}'
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2022-11-15). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2022-11-15'
      X-Wc:
      - 3c3
    status:
      code: 200
      message: OK
version: 1
