interactions:
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/customers?limit=100&created%5Bgt%5D=1698796800
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-hMnc", "data": [{"id": "cus_P624UkXAzvUW55",
        "object": "-Fallback-scrubbed-VvnATnHf", "address": null, "balance": 96, "created":
        1701272903, "currency": "-Fallback-scrubbed-wfP", "customer_account": null,
        "default_source": "-Fallback-scrubbed-nFEUlfQoPjrlODyArSFDILxmDWCls", "delinquent":
        true, "description": "-Fallback-scrubbed-UFfD", "discount": null, "email":
        "charleshull@example.com", "invoice_prefix": "-Fallback-scrubbed-ZuPoBIRK",
        "invoice_settings": {"custom_fields": null, "default_payment_method": null,
        "footer": null, "rendering_options": null}, "livemode": true, "metadata":
        {}, "name": "Willie Williams MD", "next_invoice_sequence": 3071, "phone":
        null, "preferred_locales": [], "shipping": null, "tax_exempt": "-Fallback-scrubbed-zKVX",
        "test_clock": null}], "has_more": false, "url": "/v1/customers"}'
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2022-11-15). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2022-11-15'
      X-Wc:
      - 3c3
    status:
      code: 200
      message: OK
version: 1
