interactions:
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/subscriptions?limit=100&created%5Bgt%5D=1748736000&status=all
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-jtbe", "data": [{"id": "sub_1Tf3kQLKAgyp1fW9wfaRrEem",
        "object": "-Fallback-scrubbed-ocnkYazEPnJz", "application": null, "application_fee_percent":
        null, "automatic_tax": {"disabled_reason": null, "enabled": false, "liability":
        null}, "billing_cycle_anchor": 4261, "billing_cycle_anchor_config": null,
        "billing_mode": {"flexible": {"proration_discounts": "-Fallback-scrubbed-pxBtRJxG"},
        "type": "-Fallback-scrubbed-BYgAANxv", "updated_at": 4261}, "billing_thresholds":
        null, "cancel_at": null, "cancel_at_period_end": false, "canceled_at": null,
        "cancellation_details": {"comment": null, "feedback": null, "feedback_option":
        null, "reason": null}, "collection_method": "-Fallback-scrubbed-QZSsZUasfXDXHjLzoqDL",
        "created": 1780688982, "currency": "-Fallback-scrubbed-jsV", "current_period_end":
        4382, "current_period_start": 5413, "customer": "-Fallback-scrubbed-kbnktkvFUsVOOnWPEJ",
        "customer_account": null, "days_until_due": null, "default_payment_method":
        null, "default_source": "-Fallback-scrubbed-dZiIVwAKECCFfwugKNRiWQimyiFQM",
        "default_tax_rates": [], "description": null, "discount": null, "discounts":
        [], "ended_at": null, "invoice_settings": {"account_tax_ids": null, "custom_fields":
        null, "description": null, "footer": null, "issuer": {"type": "-Fallback-scrubbed-QcqA"}},
        "items": {"object": "-Fallback-scrubbed-jtbe", "data": [{"id": "si_UeMTiuUxl3Mv0X",
        "object": "-Fallback-scrubbed-MslVnvmUbyxejkhAL", "billing_thresholds": null,
        "created": 1780688982, "current_period_end": 4382, "current_period_start":
        5413, "discounts": [], "metadata": {}, "plan": {"id": "price_1OIeZ0LKAgyp1fW9Wp9jXs87",
        "object": "-Fallback-scrubbed-KeLn", "active": false, "aggregate_usage": null,
        "amount": 7985, "amount_decimal": "2828", "billing_scheme": "-Fallback-scrubbed-uVwXFJgg",
        "created": 1701467278, "currency": "-Fallback-scrubbed-jsV", "interval": "-Fallback-scrubbed-znIQc",
        "interval_count": 8896, "livemode": false, "metadata": {}, "meter": null,
        "nickname": null, "product": "-Fallback-scrubbed-EnmXiadxWBHKWYYpeVb", "tiers_mode":
        null, "transform_usage": null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-aHNeggpk"},
        "price": {"id": "price_1OIeZ0LKAgyp1fW9Wp9jXs87", "object": "-Fallback-scrubbed-rXGpI",
        "active": false, "billing_scheme": "-Fallback-scrubbed-uVwXFJgg", "created":
        1701467278, "currency": "-Fallback-scrubbed-jsV", "custom_unit_amount": null,
        "livemode": false, "lookup_key": null, "metadata": {}, "nickname": null, "product":
        "-Fallback-scrubbed-EnmXiadxWBHKWYYpeVb", "recurring": {"aggregate_usage":
        null, "interval": "-Fallback-scrubbed-znIQc", "interval_count": 8896, "meter":
        null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-aHNeggpk"},
        "tax_behavior": "-Fallback-scrubbed-YsKvDFpTUea", "tiers_mode": null, "transform_quantity":
        null, "type": "-Fallback-scrubbed-ggxLbsZve", "unit_amount": 7985, "unit_amount_decimal":
        "2828"}, "quantity": 8896, "subscription": "-Fallback-scrubbed-MhfcvyZmnjRCtTYsuvTOunRaATaC",
        "tax_rates": []}], "has_more": false, "total_count": 8896, "url": "/v1/subscription_items?subscription=sub_1Tf3kQLKAgyp1fW9wfaRrEem"},
        "latest_invoice": "-Fallback-scrubbed-jvetNmzWiQOqVpqtEibtiNwLDgn", "livemode":
        false, "managed_payments": {"enabled": false}, "metadata": {}, "next_pending_invoice_item_invoice":
        null, "on_behalf_of": null, "pause_collection": null, "payment_settings":
        {"payment_method_options": null, "payment_method_types": null, "save_default_payment_method":
        "-Fallback-scrubbed-yoK"}, "pending_invoice_item_interval": null, "pending_setup_intent":
        null, "pending_update": null, "plan": {"id": "price_1OIeZ0LKAgyp1fW9Wp9jXs87",
        "object": "-Fallback-scrubbed-KeLn", "active": false, "aggregate_usage": null,
        "amount": 7985, "amount_decimal": "2828", "billing_scheme": "-Fallback-scrubbed-uVwXFJgg",
        "created": 1701467278, "currency": "-Fallback-scrubbed-jsV", "interval": "-Fallback-scrubbed-znIQc",
        "interval_count": 8896, "livemode": false, "metadata": {}, "meter": null,
        "nickname": null, "product": "-Fallback-scrubbed-EnmXiadxWBHKWYYpeVb", "tiers_mode":
        null, "transform_usage": null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-aHNeggpk"},
        "quantity": 8896, "schedule": null, "start_date": 4261, "status": "-Fallback-scrubbed-gkAjbU",
        "test_clock": null, "transfer_data": null, "trial_end": null, "trial_settings":
        {"end_behavior": {"missing_payment_method": "-Fallback-scrubbed-QLvXYVfHkibHzv"}},
        "trial_start": null}], "has_more": false, "url": "/v1/subscriptions"}'
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2022-11-15). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2022-11-15'
      X-Wc:
      - 3c3
    status:
      code: 200
      message: OK
version: 1
