interactions:
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/invoiceitems?limit=100&created%5Bgt%5D=1698796800
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-KcBT", "data": [{"id": "ii_1OMBoiLKAgyp1fW9PyYxEU16",
        "object": "-Fallback-scrubbed-LbTwMKHYFXU", "amount": 745, "currency": "-Fallback-scrubbed-Jci",
        "customer": "-Fallback-scrubbed-iXFqKcvdxTOOYpcWZH", "customer_account": null,
        "date": 1702310088, "description": "-Fallback-scrubbed-zSBAqA", "discountable":
        false, "discounts": [], "frozen_fields": [], "invoice": "-Fallback-scrubbed-XQbRYoGEsEYBGfFPplrHCkPtCvW",
        "livemode": false, "metadata": {}, "parent": null, "period": {"end": 2189,
        "start": 2189}, "plan": null, "price": {"id": "price_1OIeahLKAgyp1fW9WlTijlnh",
        "object": "-Fallback-scrubbed-bZxya", "active": false, "billing_scheme": "-Fallback-scrubbed-GvZDKAea",
        "created": 1701467383, "currency": "-Fallback-scrubbed-Jci", "custom_unit_amount":
        null, "livemode": false, "lookup_key": null, "metadata": {}, "nickname": null,
        "product": "-Fallback-scrubbed-YFLmMCKHsMAEWLFOmoj", "recurring": null, "tax_behavior":
        "-Fallback-scrubbed-fovfdBPMTDM", "tiers_mode": null, "transform_quantity":
        null, "type": "-Fallback-scrubbed-vZSlKiJV", "unit_amount": 745, "unit_amount_decimal":
        "57"}, "pricing": {"price_details": {"price": "-Fallback-scrubbed-eVkcwxoQukwloAOVIjZjuiwoYpDwJM",
        "product": "-Fallback-scrubbed-YFLmMCKHsMAEWLFOmoj"}, "type": "-Fallback-scrubbed-GjOyoVtdAXkYR",
        "unit_amount_decimal": "57"}, "proration": false, "quantity": 7899, "quantity_decimal":
        "1423", "subscription": null, "tax_rates": [], "test_clock": null, "unit_amount":
        745, "unit_amount_decimal": "57"}, {"id": "ii_1OMBoeLKAgyp1fW9iGtVIBFo", "object":
        "-Fallback-scrubbed-LbTwMKHYFXU", "amount": 9277, "currency": "-Fallback-scrubbed-Jci",
        "customer": "-Fallback-scrubbed-iXFqKcvdxTOOYpcWZH", "customer_account": null,
        "date": 1702310084, "description": "-Fallback-scrubbed-ObTyy", "discountable":
        false, "discounts": [], "frozen_fields": [], "invoice": "-Fallback-scrubbed-XQbRYoGEsEYBGfFPplrHCkPtCvW",
   [...]
