interactions:
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/events?limit=100&created%5Bgt%5D=1748736000
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-szSK", "data": [{"id": "evt_1U3RIdLKAgyp1fW9FoDClUIV",
        "object": "-Fallback-scrubbed-aCIji", "api_version": "-Fallback-scrubbed-pAeqHCAuaJ",
        "created": 1786499387, "data": {"object": {"object": "-Fallback-scrubbed-HAVUbZV",
        "available": [{"amount": 2127, "currency": "-Fallback-scrubbed-Ngp", "source_types":
        {"card": 2127}}], "connect_reserved": [{"amount": 7213, "currency": "-Fallback-scrubbed-Ngp"}],
        "livemode": true, "pending": [{"amount": 7213, "currency": "-Fallback-scrubbed-Ngp",
        "source_types": {"card": 7213}}], "refund_and_dispute_prefunding": {"available":
        [{"amount": 7213, "currency": "-Fallback-scrubbed-Ngp"}], "pending": [{"amount":
        7213, "currency": "-Fallback-scrubbed-Ngp"}]}}}, "livemode": true, "pending_webhooks":
        7213, "request": {"id": null, "idempotency_key": null}, "type": "-Fallback-scrubbed-maSiZbcUKlwjochcE"},
        {"id": "evt_1U1BlNLKAgyp1fW9xiZanbcY", "object": "-Fallback-scrubbed-aCIji",
        "api_version": "-Fallback-scrubbed-pAeqHCAuaJ", "created": 1785963009, "data":
        {"object": {"id": "inpay_1U1BlKLKAgyp1fW9fyRQM2og", "object": "-Fallback-scrubbed-EAiKhfloljJvAfj",
        "amount_paid": 996, "amount_requested": 996, "created": 1785963003, "currency":
        "-Fallback-scrubbed-Ngp", "invoice": "-Fallback-scrubbed-PpojUvllswrHGKcsTsjqqPQZOYD",
        "is_default": true, "livemode": true, "payment": {"payment_intent": "-Fallback-scrubbed-DVeIoxJlMsUNnwfwVbOwVHRFEgD",
        "type": "-Fallback-scrubbed-MiOtkCxMhFwmQW"}, "status": "-Fallback-scrubbed-Vbax",
        "status_transitions": {"canceled_at": null, "paid_at": 5052}}}, "livemode":
        true, "pending_webhooks": 7213, "request": {"id": null, "idempotency_key":
        null}, "type": "-Fallback-scrubbed-WShfOPTygqPjhMfbVHlv"}, {"id": "evt_1U1BlNLKAgyp1fW9zSHI193v",
        "object": "-Fallback-scrubbed-aCIji", "api_version": "-Fallback-scrubbed-pAeqHCAuaJ",
        "created": 1785963009, "data": {"object": {"id": "in_1U1Ap3LKAgyp1fW9ALm0nA98",
        "object": "-Fallback-scrubbed-BMnKzUK", "account_country": "-Fallback-scrubbed-VW",
        "account_name": "-Fallback-scrubbed-kvtSSret", "account_tax_ids": null, "amount_due":
        996, "amount_overpaid": 7213, "amount_paid": 996, "amount_remaining": 7213,
        "amount_shipping": 7213, "application": null, "application_fee_amount": null,
        "attempt_count": 4515, "attempted": true, "auto_advance": true, "automatic_tax":
        {"disabled_reason": null, "enabled": true, "liability": null, "provider":
        null, "status": null}, "automatically_finalizes_at": null, "billing_reason":
        "-Fallback-scrubbed-zdqBOxbcqzsgxXXRKT", "charge": "-Fallback-scrubbed-eABwVlehKKcDFLbOnoBzbagwIgJ",
        "collection_method": "-Fallback-scrubbed-tZRIvwJxOduDbQiCVMnv", "created":
        1785959393, "currency": "-Fallback-scrubbed-Ngp", "custom_fields": null, "customer":
        "-Fallback-scrubbed-FsnasepTztbvAGvhSF", "customer_account": null, "customer_address":
        null, "customer_email": "-Fallback-scrubbed-tUbbmxKoKsRiIEacOro", "customer_name":
        "-Fallback-scrubbed-KfKo", "customer_phone": null, "customer_shipping": null,
        "customer_tax_exempt": "-Fallback-scrubbed-IMLD", "customer_tax_ids": [],
        "default_payment_method": null, "default_source": null, "default_tax_rates":
        [], "description": null, "discount": null, "discounts": [], "due_date": null,
        "effective_at": 4414, "ending_balance": 7213, "footer": null, "from_invoice":
        null, "hosted_invoice_url": "-Fallback-scrubbed-IwIyqdYYEktFIjpYjUSajlWlPgfVQTuAkoPRRtfAwGkxXOkzWumkOtQGPYxFKMOFerkluzHqcXwqvliiCMmkaLuyurJGIByxASdDEPOhsoMNONEdwudeLvJYecLvayZfYiWgKLaiqQDppqoYqCmkHVzDocyMofF",
        "invoice_pdf": "-Fallback-scrubbed-erjfzyraIvQjUOLGkdhbgiYBVHYaMGeyZwugJyIGRNRjnqVlaMawgzIHNmJNzCOdRzGGZaOaJAUehiZhvRpJapgaZDWuLHMSIJAsfEibTJXxzrFEYJNsTjbHcbDYzFuvfZtrEXFWhTKNQzGPSvveSZssdojoNLZXfxkCo",
        "issuer": {"type": "-Fallback-scrubbed-iJNt"}, "last_finalization_error":
        null, "latest_revision": null, "lines": {"object": "-Fallback-scrubbed-szSK",
        "data": [{"id": "il_1U1AosLKAgyp1fW9yj1r6AQO", "object": "-Fallback-scrubbed-kqZIVwyJs",
        "amount": 996, "amount_excluding_tax": 996, "currency": "-Fallback-scrubbed-Ngp",
        "description": "-Fallback-scrubbed-akhbDCnEsOaSFIjmNLYUQQCSrEGzU", "discount_amounts":
        [], "discountable": true, "discounts": [], "invoice": "-Fallback-scrubbed-PpojUvllswrHGKcsTsjqqPQZOYD",
        "livemode": true, "metadata": {}, "parent": {"invoice_item_details": null,
        "license_fee_subscription_details": null, "subscription_item_details": {"invoice_item":
        null, "proration": true, "proration_details": {"credited_items": null}, "subscription":
        "-Fallback-scrubbed-MVrpdMwTqcbRCSDWycOvLoaeuNUQ", "subscription_item": "-Fallback-scrubbed-DxAMzZNljNFCWsrCK"},
        "type": "-Fallback-scrubbed-IrySiGGcsaUsjAgiXohbHKtPx"}, "period": {"end":
        3564, "start": 7306}, "plan": {"id": "price_1OIeZ0LKAgyp1fW9Wp9jXs87", "object":
        "-Fallback-scrubbed-Odxs", "active": true, "aggregate_usage": null, "amount":
        996, "amount_decimal": "4171", "billing_scheme": "-Fallback-scrubbed-WKNMLwFD",
        "created": 1701467278, "currency": "-Fallback-scrubbed-Ngp", "interval": "-Fallback-scrubbed-PUCfN",
        "interval_count": 4515, "livemode": true, "metadata": {}, "meter": null, "nickname":
        null, "product": "-Fallback-scrubbed-udEinIzulqStyAVGxer", "tiers_mode": null,
        "transform_usage": null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-qKhMWvNT"},
        "pretax_credit_amounts": [], "price": {"id": "price_1OIeZ0LKAgyp1fW9Wp9jXs87",
        "object": "-Fallback-scrubbed-SUcrw", "active": true, "billing_scheme": "-Fallback-scrubbed-WKNMLwFD",
        "created": 1701467278, "currency": "-Fallback-scrubbed-Ngp", "custom_unit_amount":
        null, "livemode": true, "lookup_key": null, "metadata": {}, "nickname": null,
        "product": "-Fallback-scrubbed-udEinIzulqStyAVGxer", "recurring": {"aggregate_usage":
        null, "interval": "-Fallback-scrubbed-PUCfN", "interval_count": 4515, "meter":
        null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-qKhMWvNT"},
        "tax_behavior": "-Fallback-scrubbed-kOYSWeXGcFj", "tiers_mode": null, "transform_quantity":
        null, "type": "-Fallback-scrubbed-jtLmLMTBN", "unit_amount": 996, "unit_amount_decimal":
        "4171"}, "pricing": {"price_details": {"price": "-Fallback-scrubbed-lXKOjQySLzziPfmvgryPvuWGkvPlAY",
        "product": "-Fallback-scrubbed-udEinIzulqStyAVGxer"}, "type": "-Fallback-scrubbed-yyBhxqdGVikbP",
        "unit_amount_decimal": "4171"}, "proration": true, "proration_details": {"credited_items":
        null}, "quantity": 4515, "quantity_decimal": "7396", "subscription": "-Fallback-scrubbed-MVrpdMwTqcbRCSDWycOvLoaeuNUQ",
        "subscription_item": "-Fallback-scrubbed-DxAMzZNljNFCWsrCK", "subtotal": 996,
        "tax_amounts": [], "tax_rates": [], "taxes": [], "type": "-Fallback-scrubbed-eeeipbrraltR",
        "unit_amount_excluding_tax": "4171"}], "has_more": false, "total_count": 4515,
        "url": "/v1/invoices/in_1U1Ap3LKAgyp1fW9ALm0nA98/lines"}, "livemode": true,
        "metadata": {}, "next_payment_attempt": null, "number": "-Fallback-scrubbed-QEhWxWNFkEhSE",
        "on_behalf_of": null, "paid": true, "paid_out_of_band": true, "parent": {"quote_details":
        null, "subscription_details": {"metadata": {}, "subscription": "-Fallback-scrubbed-MVrpdMwTqcbRCSDWycOvLoaeuNUQ"},
        "type": "-Fallback-scrubbed-tdTjHTxGjjSNeMCQaGAs"}, "payment_intent": "-Fallback-scrubbed-DVeIoxJlMsUNnwfwVbOwVHRFEgD",
        "payment_settings": {"default_mandate": null, "payment_method_options": null,
        "payment_method_types": null}, "period_end": 7306, "period_start": 8281, "post_payment_credit_notes_amount":
        7213, "pre_payment_credit_notes_amount": 7213, "quote": null, "receipt_number":
        null, "rendering": null, "rendering_options": null, "shipping_cost": null,
        "shipping_details": null, "starting_balance": 7213, "statement_descriptor":
        null, "status": "-Fallback-scrubbed-Vbax", "status_transitions": {"finalized_at":
        4414, "marked_uncollectible_at": null, "paid_at": 6517, "voided_at": null},
        "subscription": "-Fallback-scrubbed-MVrpdMwTqcbRCSDWycOvLoaeuNUQ", "subscription_details":
        {"metadata": {}}, "subtotal": 996, "subtotal_excluding_tax": 996, "tax": null,
        "test_clock": null, "total": 996, "total_discount_amounts": [], "total_excluding_tax":
        996, "total_pretax_credit_amounts": [], "total_tax_amounts": [], "total_taxes":
        [], "transfer_data": null, "webhooks_delivered_at": 8388}}, "livemode": true,
        "pending_webhooks": 7213, "request": {"id": null, "idempotency_key": null},
        "type": "-Fallback-scrubbed-tNOzRmldewTfJImGRYiynBeBT"}, {"id": "evt_1U1BlNLKAgyp1fW9uFcE2r38",
        "object": "-Fallback-scrubbed-aCIji", "api_version": "-Fallback-scrubbed-pAeqHCAuaJ",
        "created": 1785963009, "data": {"object": {"id": "in_1U1Ap3LKAgyp1fW9ALm0nA98",
        "object": "-Fallback-scrubbed-BMnKzUK", "account_country": "-Fallback-scrubbed-VW",
        "ac[...]
