interactions:
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/invoices?limit=100&created%5Bgt%5D=1748736000
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-BMUU", "data": [{"id": "in_1U1Ap3LKAgyp1fW9ALm0nA98",
        "object": "-Fallback-scrubbed-qCJWWxy", "account_country": "-Fallback-scrubbed-lz",
        "account_name": "-Fallback-scrubbed-xUTLONwY", "account_tax_ids": null, "amount_due":
        285, "amount_overpaid": 4177, "amount_paid": 285, "amount_remaining": 4177,
        "amount_shipping": 4177, "application": null, "application_fee_amount": null,
        "attempt_count": 7788, "attempted": true, "auto_advance": true, "automatic_tax":
        {"disabled_reason": null, "enabled": true, "liability": null, "provider":
        null, "status": null}, "automatically_finalizes_at": null, "billing_reason":
        "-Fallback-scrubbed-FwCtJRPyuuwglMEnCp", "charge": "-Fallback-scrubbed-mlyDwYkJEMfrDUpsSfpOytZCvhE",
        "collection_method": "-Fallback-scrubbed-eXpuVwMPvovTjYDvWUge", "created":
        1785959393, "currency": "-Fallback-scrubbed-PIv", "custom_fields": null, "customer":
        "-Fallback-scrubbed-RNtdOENpSXtLpLTjVg", "customer_account": null, "customer_address":
        null, "customer_email": "-Fallback-scrubbed-OQGlgrdlSESMHNykQkN", "customer_name":
        "-Fallback-scrubbed-cXqG", "customer_phone": null, "customer_shipping": null,
        "customer_tax_exempt": "-Fallback-scrubbed-rZde", "customer_tax_ids": [],
        "default_payment_method": null, "default_source": null, "default_tax_rates":
        [], "description": null, "discount": null, "discounts": [], "due_date": null,
        "effective_at": 9127, "ending_balance": 4177, "footer": null, "from_invoice":
        null, "hosted_invoice_url": "-Fallback-scrubbed-pjJXtbxzAygrdOOZWZqEUojQofTVOcKyrKwHeWWYxjwUulUEHSvrRMmqCNLrQtNWeFilOCGwNfRAhEJeORnvwDhveEJLPUZuDIDuljUlRWdIVWaBxXSifSOGDkdsFlHXysZvpQRpsqVblwinOloQCzgcGLmLKvr",
        "invoice_pdf": "-Fallback-scrubbed-pHhAnLBmtElOFNGenBCslmmhqqZXxQCmJWDtpowBGIWtMCMPLUcrZOMYaioNwxNVnNTLMkAVLYGePXNzrHuGJgRSeteUulZbSSPtofLwXBFQNHUGGkijzKmdIKrlnthfQZEXCRSekZkthHbfkDhFEertaUbWoKmXdHGjI",
        "issuer": {"type": "-Fallback-scrubbed-sNSU"}, "last_finalization_error":
        null, "latest_revision": null, "lines": {"object": "-Fallback-scrubbed-BMUU",
        "data": [{"id": "il_1U1AosLKAgyp1fW9yj1r6AQO", "object": "-Fallback-scrubbed-hQLwMOUYr",
        "amount": 285, "amount_excluding_tax": 285, "currency": "-Fallback-scrubbed-PIv",
        "description": "-Fallback-scrubbed-girjtfIIhKaLnJSoRkQysuLfcbsvQ", "discount_amounts":
        [], "discountable": true, "discounts": [], "invoice": "-Fallback-scrubbed-tPpWtSRNHZsikyjcvgrudwOhvHG",
        "livemode": true, "metadata": {}, "parent": {"invoice_item_details": null,
        "license_fee_subscription_details": null, "subscription_item_details": {"invoice_item":
        null, "proration": true, "proration_details": {"credited_items": null}, "subscription":
        "-Fallback-scrubbed-aRAyzWQdUnLFcrrCVYiOFROylTjN", "subscription_item": "-Fallback-scrubbed-fVvffmYMBdNpQHPEG"},
        "type": "-Fallback-scrubbed-YNdFomhibkztSsJJALEpQMOTV"}, "period": {"end":
        6267, "start": 8161}, "plan": {"id": "price_1OIeZ0LKAgyp1fW9Wp9jXs87", "object":
        "-Fallback-scrubbed-KSJY", "active": true, "aggregate_usage": null, "amount":
        285, "amount_decimal": "1565", "billing_scheme": "-Fallback-scrubbed-NnEcdPrE",
        "created": 1701467278, "currency": "-Fallback-scrubbed-PIv", "interval": "-Fallback-scrubbed-rQcjI",
        "interval_count": 7788, "livemode": true, "metadata": {}, "meter": null, "nickname":
        null, "product": "-Fallback-scrubbed-cVqGXVyLAFPYjwHNAUg", "tiers_mode": null,
        "transform_usage": null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-ohlLFpUo"},
        "pretax_credit_amounts": [], "price": {"id": "price_1OIeZ0LKAgyp1fW9Wp9jXs87",
        "object": "-Fallback-scrubbed-ravQx", "active": true, "billing_scheme": "-Fallback-scrubbed-NnEcdPrE",
        "created": 1701467278, "currency": "-Fallback-scrubbed-PIv", "custom_unit_amount":
        null, "livemode": true, "lookup_key": null, "metadata": {}, "nickname": null,
        "product": "-Fallback-scrubbed-cVqGXVyLAFPYjwHNAUg", "recurring": {"aggregate_usage":
        null, "interval": "-Fallback-scrubbed-rQcjI", "interval_count": 7788, "meter":
        null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-ohlLFpUo"},
        "tax_behavior": "-Fallback-scrubbed-CymuBuRvSdK", "tiers_mode": null, "transform_quantity":
        null, "type": "-Fallback-scrubbed-UnTcfCsrD", "unit_amount": 285, "unit_amount_decimal":
        "1565"}, "pricing": {"price_details": {"price": "-Fallback-scrubbed-DdvFcQfRjKWCSluTwJREGuGWtWqROz",
        "product": "-Fallback-scrubbed-cVqGXVyLAFPYjwHNAUg"}, "type": "-Fallback-scrubbed-soLpkBRadFrCj",
        "unit_amount_decimal": "1565"}, "proration": true, "proration_details": {"credited_items":
        null}, "quantity": 7788, "quantity_decimal": "8502", "subscription": "-Fallback-scrubbed-aRAyzWQdUnLFcrrCVYiOFROylTjN",
        "subscription_item": "-Fallback-scrubbed-fVvffmYMBdNpQHPEG", "subtotal": 285,
        "tax_amounts": [], "tax_rates": [], "taxes": [], "type": "-Fallback-scrubbed-jmPrGQhbBmTi",
        "unit_amount_excluding_tax": "1565"}], "has_more": false, "total_count": 7788,
        "url": "/v1/invoices/in_1U1Ap3LKAgyp1fW9ALm0nA98/lines"}, "livemode": true,
        "metadata": {}, "next_payment_attempt": null, "number": "-Fallback-scrubbed-dDCmoIHFWjnAi",
        "on_behalf_of": null, "paid": true, "paid_out_of_band": true, "parent": {"quote_details":
        null, "subscription_details": {"metadata": {}, "subscription": "-Fallback-scrubbed-aRAyzWQdUnLFcrrCVYiOFROylTjN"},
        "type": "-Fallback-scrubbed-vpuUOKWhwAHSVOasAmCn"}, "payment_intent": "-Fallback-scrubbed-sLjOWFfyrpEUCiZrPVVQIMeMWNM",
        "payment_settings": {"default_mandate": null, "payment_method_options": null,
        "payment_method_types": null}, "period_end": 8161, "period_start": 3164, "post_payment_credit_notes_amount":
        4177, "pre_payment_credit_notes_amount": 4177, "quote": null, "receipt_number":
        null, "rendering": null, "rendering_options": null, "shipping_cost": null,
        "shipping_details": null, "starting_balance": 4177, "statement_descriptor":
        null, "status": "-Fallback-scrubbed-lEXE", "status_transitions": {"finalized_at":
        9127, "marked_uncollectible_at": null, "paid_at": 603, "voided_at": null},
        "subscription": "-Fallback-scrubbed-aRAyzWQdUnLFcrrCVYiOFROylTjN", "subscription_details":
        {"metadata": {}}, "subtotal": 285, "subtotal_excluding_tax": 285, "tax": null,
        "test_clock": null, "total": 285, "total_discount_amounts": [], "total_excluding_tax":
        285, "total_pretax_credit_amounts": [], "total_tax_amounts": [], "total_taxes":
        [], "transfer_data": null, "webhooks_delivered_at": 5348}, {"id": "in_1Tpw30LKAgyp1fW9gxJdOaVo",
        "object": "-Fallback-scrubbed-qCJWWxy", "account_country": "-Fallback-scrubbed-lz",
        "account_name": "-Fallback-scrubbed-xUTLONwY", "account_tax_ids": null, "amount_due":
        285, "amount_overpaid": 4177, "amount_paid": 285, "amount_remaining": 4177,
        "amount_shipping": 4177, "application": null, "application_fee_amount": null,
        "attempt_count": 7788, "attempted": true, "auto_advance": true, "automatic_tax":
        {[...]
