interactions:
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/invoices?limit=100&created%5Bgt%5D=1748736000
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-TaOW", "data": [{"id": "in_1U1Ap3LKAgyp1fW9ALm0nA98",
        "object": "-Fallback-scrubbed-tBNjMiO", "account_country": "-Fallback-scrubbed-FK",
        "account_name": "-Fallback-scrubbed-uepQLEVL", "account_tax_ids": null, "amount_due":
        6359, "amount_overpaid": 7013, "amount_paid": 6359, "amount_remaining": 7013,
        "amount_shipping": 7013, "application": null, "application_fee_amount": null,
        "attempt_count": 6579, "attempted": false, "auto_advance": true, "automatic_tax":
        {"disabled_reason": null, "enabled": true, "liability": null, "provider":
        null, "status": null}, "automatically_finalizes_at": null, "billing_reason":
        "-Fallback-scrubbed-vmxaPsvlaZHZBUNLie", "charge": "-Fallback-scrubbed-LxuNhJwjKstGwRCiAMlLPPqtvxU",
        "collection_method": "-Fallback-scrubbed-KoNenxqKcJfSrqjkZCMY", "created":
        1785959393, "currency": "-Fallback-scrubbed-zNS", "custom_fields": null, "customer":
        "-Fallback-scrubbed-NkgDtNtxzNguSOgMyU", "customer_account": null, "customer_address":
        null, "customer_email": "-Fallback-scrubbed-RttsqodguRZmcRnjSqb", "customer_name":
        "-Fallback-scrubbed-HLRd", "customer_phone": null, "customer_shipping": null,
        "customer_tax_exempt": "-Fallback-scrubbed-jzqD", "customer_tax_ids": [],
        "default_payment_method": null, "default_source": null, "default_tax_rates":
        [], "description": null, "discount": null, "discounts": [], "due_date": null,
        "effective_at": 5687, "ending_balance": 7013, "footer": null, "from_invoice":
        null, "hosted_invoice_url": "-Fallback-scrubbed-qVYRolnpnoggJwzlGREazyWBUITKmIeYbJbHKBXWtBFYYhuIAFRvrfaTVRtndBKPtdCbfkzFRQhFLuRsYYFlmipVVmHapLnExzIuBBbkXdLhFStGcBlGMpgVTsHdfIPgruFluLbprmnJZFKrPDQjcKxqyZGUlBY",
        "invoice_pdf": "-Fallback-scrubbed-SziSiexNCeNqGvVckLWvBdVZFWAxLCWjQGvdvgfooCLMxtHThnZOoXIKnzZsUyEfdflwQHlDXGJtnoXiTaNWsSHwpbtbCGGHMCybfJzqZWBevsOEDFVcbhyTZtdEoUXNocRuFrZsOTTDMrkBBfZoJQzBPxeaCQpeNQBGM",
        "issuer": {"type": "-Fallback-scrubbed-kHgD"}, "last_finalization_error":
        null, "latest_revision": null, "lines": {"object": "-Fallback-scrubbed-TaOW",
        "data": [{"id": "il_1U1AosLKAgyp1fW9yj1r6AQO", "object": "-Fallback-scrubbed-iMtQkHnWi",
        "amount": 6359, "amount_excluding_tax": 6359, "currency": "-Fallback-scrubbed-zNS",
        "description": "-Fallback-scrubbed-rhNXlDhxqULSRuTsXMNblTIbKVGQT", "discount_amounts":
        [], "discountable": false, "discounts": [], "invoice": "-Fallback-scrubbed-LvqHIjxwzdiarJxhZpYfIlJyPLo",
        "livemode": true, "metadata": {}, "parent": {"invoice_item_details": null,
        "license_fee_subscription_details": null, "subscription_item_details": {"invoice_item":
        null, "proration": true, "proration_details": {"credited_items": null}, "subscription":
        "-Fallback-scrubbed-ezdlkfsYwpxgHtHdmppzyZSVaVUp", "subscription_item": "-Fallback-scrubbed-aWRJEBQfgrFNmZBvN"},
        "type": "-Fallback-scrubbed-hYxMBcUTMuYxVddvWmlyuEQxj"}, "period": {"end":
        7879, "start": 6564}, "plan": {"id": "price_1OIeZ0LKAgyp1fW9Wp9jXs87", "object":
        "-Fallback-scrubbed-uMYo", "active": false, "aggregate_usage": null, "amount":
        6359, "amount_decimal": "4204", "billing_scheme": "-Fallback-scrubbed-cYTeEhtt",
        "created": 1701467278, "currency": "-Fallback-scrubbed-zNS", "interval": "-Fallback-scrubbed-qzBak",
        "interval_count": 6579, "livemode": true, "metadata": {}, "meter": null, "nickname":
        null, "product": "-Fallback-scrubbed-jnOlRbOyKyTyGPcFQWq", "tiers_mode": null,
        "transform_usage": null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-ARrBiMgL"},
        "pretax_credit_amounts": [], "price": {"id": "price_1OIeZ0LKAgyp1fW9Wp9jXs87",
        "object": "-Fallback-scrubbed-ZMZOZ", "active": false, "billing_scheme": "-Fallback-scrubbed-cYTeEhtt",
        "created": 1701467278, "currency": "-Fallback-scrubbed-zNS", "custom_unit_amount":
        null, "livemode": true, "lookup_key": null, "metadata": {}, "nickname": null,
        "product": "-Fallback-scrubbed-jnOlRbOyKyTyGPcFQWq", "recurring": {"aggregate_usage":
        null, "interval": "-Fallback-scrubbed-qzBak", "interval_count": 6579, "meter":
        null, "trial_period_days": null, "usage_type": "-Fallback-scrubbed-ARrBiMgL"},
        "tax_behavior": "-Fallback-scrubbed-dPZPLnsypmY", "tiers_mode": null, "transform_quantity":
        null, "type": "-Fallback-scrubbed-vvyPdHXvy", "unit_amount": 6359, "unit_amount_decimal":
        "4204"}, "pricing": {"price_details": {"price": "-Fallback-scrubbed-LzBxtSOzPSiMhpsfBBiSnECdVrAqSI",
        "product": "-Fallback-scrubbed-jnOlRbOyKyTyGPcFQWq"}, "type": "-Fallback-scrubbed-DCOxvVcTUhrkA",
        "unit_amount_decimal": "4204"}, "proration": true, "proration_details": {"credited_items":
        null}, "quantity": 6579, "quantity_decimal": "3821", "subscription": "-Fallback-scrubbed-ezdlkfsYwpxgHtHdmppzyZSVaVUp",
        "subscription_item": "-Fallback-scrubbed-aWRJEBQfgrFNmZBvN", "subtotal": 6359,
        "tax_amounts": [], "tax_rates": [], "taxes": [], "type": "-Fallback-scrubbed-cLhksnjPyahv",
        "unit_amount_excluding_tax": "4204"}], "has_more": false, "total_count": 6579,
        "url": "/v1/invoices/in_1U1Ap3LKAgyp1fW9ALm0nA98/lines"}, "livemode": true,
        "metadata": {}, "next_payment_attempt": null, "number": "-Fallback-scrubbed-BBADsZWSbQnvP",
        "on_behalf_of": null, "paid": false, "paid_out_of_band": true, "parent": {"quote_details":
        null, "subscription_details": {"metadata": {}, "subscription": "-Fallback-scrubbed-ezdlkfsYwpxgHtHdmppzyZSVaVUp"},
        "type": "-Fallback-scrubbed-PyZiOBMxocIlFnENjxXb"}, "payment_intent": "-Fallback-scrubbed-LrlZTlnwVbhcFOdijgdlHZYzdJN",
        "payment_settings": {"default_mandate": null, "payment_method_options": null,
        "payment_method_types": null}, "period_end": 6564, "period_start": 6320, "post_payment_credit_notes_amount":
        7013, "pre_payment_credit_notes_amount": 7013, "quote": null, "receipt_number":
        null, "rendering": null, "rendering_options": null, "shipping_cost": null,
        "shipping_details": null, "starting_balance": 7013, "statement_descriptor":
        null, "status": "-Fallback-scrubbed-WekN", "status_transitions": {"finalized_at":
        5687, "marked_uncollectible_at": null, "paid_at": 386, "voided_at": null},
        "subscription": "-Fallback-scrubbed-ezdlkfsYwpxgHtHdmppzyZSVaVUp", "subscription_details":
        {"metadata": {}}, "subtotal": 6359, "subtotal_excluding_tax": 6359, "tax":
        null, "test_clock": null, "total": 6359, "total_discount_amounts": [], "total_excluding_tax":
        6359, "total_pretax_credit_amounts": [], "total_tax_amounts": [], "total_taxes":
        [], "transfer_data": null, "webhooks_delivered_at": 996}, {"id": "in_1Tpw30LKAgyp1fW9gxJdOaVo",
        "object": "-Fallback-scrubbed-tBNjMiO", "account_country": "-Fallback-scrubbed-FK",
        "account_name": "-Fallback-scrubbed-uepQLEVL", "account_tax_ids": null, "amount_due":
        6359, "amount_overpaid": 7013, "amount_paid": 6359, "amount_remaining": 7013,
        "amount_shipping": 7013, "application": null, "application_fee_amount": null,
        "attempt_count": 6579, "attempted": false, "auto_advance": true, "automatic_tax":
       [...]
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/invoices/in_1U1Ap3LKAgyp1fW9ALm0nA98/lines?limit=100
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-TaOW", "data": [{"id": "il_1U1AosLKAgyp1fW9yj1r6AQO",
        "object": "-Fallback-scrubbed-iMtQkHnWi", "amount": 6359, "amount_excluding_tax":
        6359, "currency": "-Fallback-scrubbed-zNS", "description": "-Fallback-scrubbed-rhNXlDhxqULSRuT[...]
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/invoices/in_1Tpw30LKAgyp1fW9gxJdOaVo/lines?limit=100
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-TaOW", "data": [{"id": "il_1Tpw2sLKAgyp1fW9FHhV7P5V",
        "object": "-Fallback-scrubbed-iMtQkHnWi", "amount": 6359, "amount_excluding_tax":
        6359, "currency": "-Fallback-scrubbed-zNS", "description": "-Fallback-scrubbed-rhNXlDhxqULSRuT[...]
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/invoices/in_1Tf3kQLKAgyp1fW9TpbSx97j/lines?limit=100
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-TaOW", "data": [{"id": "il_1Tf3kQLKAgyp1fW9RsYWfOxE",
        "object": "-Fallback-scrubbed-iMtQkHnWi", "amount": 6359, "amount_excluding_tax":
        6359, "currency": "-Fallback-scrubbed-zNS", "description": "-Fallback-scrubbed-rhNXlDhxqULSRuT[...]
