interactions:
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/products?limit=100&created%5Bgt%5D=1698796800
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-NIUP", "data": [{"id": "prod_P6sJcGxmCaxhOg",
        "object": "-Fallback-scrubbed-tHgmTZC", "active": true, "attributes": [],
        "created": 1701467288, "default_price": "-Fallback-scrubbed-hLDxQoeWmoEscKjlGMybKIiGJoOMZx",
        "description": null, "features": [], "images": [], "livemode": true, "marketing_features":
        [], "metadata": {}, "name": "Charles Barber", "package_dimensions": null,
        "shippable": null, "statement_descriptor": null, "tax_code": null, "tax_details":
        null, "type": "-Fallback-scrubbed-KvncgHp", "unit_label": null, "updated":
        1701467289, "url": null}, {"id": "prod_P6sJioZkTcygky", "object": "-Fallback-scrubbed-tHgmTZC",
        "active": true, "attributes": [], "created": 1701467277, "default_price":
        "-Fallback-scrubbed-IFwymdSkQmxFgSRnAZLpLOauiozYUN", "description": null,
        "features": [], "images": [], "livemode": true, "marketing_features": [],
        "metadata": {}, "name": "Paul White", "package_dimensions": null, "shippable":
        null, "statement_descriptor": null, "tax_code": null, "tax_details": null,
        "type": "-Fallback-scrubbed-KvncgHp", "unit_label": null, "updated": 1701467278,
        "url": null}, {"id": "prod_P6sJXxlgSmR6Vn", "object": "-Fallback-scrubbed-tHgmTZC",
        "active": true, "attributes": [], "created": 1701467265, "default_price":
        "-Fallback-scrubbed-DCrHqYkytvFtmrLOyzMPwVfYOVSJCA", "description": null,
        "features": [], "images": [], "livemode": true, "marketing_features": [],
        "metadata": {}, "name": "Sonya Williams", "package_dimensions": null, "shippable":
        null, "statement_descriptor": null, "tax_code": null, "tax_details": null,
        "type": "-Fallback-scrubbed-KvncgHp", "unit_label": null, "updated": 1701467266,
        "url": null}], "has_more": false, "url": "/v1/products"}'
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2022-11-15). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2022-11-15'
      X-Wc:
      - 3c3
    status:
      code: 200
      message: OK
version: 1
