interactions:
- request:
    body: null
    headers:
      Stripe-Version:
      - '2022-11-15'
    method: GET
    uri: https://api.stripe.com/v1/coupons?limit=100&created%5Bgt%5D=1698796800
  response:
    body:
      string: '{"object": "-Fallback-scrubbed-TQjz", "data": [{"id": "RuqJHjLn", "object":
        "-Fallback-scrubbed-oQPsEu", "amount_off": null, "created": 1701467349, "currency":
        null, "duration": "-Fallback-scrubbed-besFoil", "duration_in_months": null,
        "livemode": false, "max_redemptions": null, "metadata": {}, "name": "Emily
        Mooney", "percent_off": -36742.2624237279, "redeem_by": null, "times_redeemed":
        1885, "valid": false}, {"id": "px8MLAK2", "object": "-Fallback-scrubbed-oQPsEu",
        "amount_off": null, "created": 1701467324, "currency": null, "duration": "-Fallback-scrubbed-besFoil",
        "duration_in_months": null, "livemode": false, "max_redemptions": null, "metadata":
        {}, "name": "Stephanie Berry MD", "percent_off": 44.74072557445, "redeem_by":
        null, "times_redeemed": 1885, "valid": false}], "has_more": false, "url":
        "/v1/coupons"}'
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2022-11-15). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - '2022-11-15'
      X-Wc:
      - 3c3
    status:
      code: 200
      message: OK
version: 1
